* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100vw;
    font-family: 'Open Sans', 'Open Sans Light', sans-serif;
}
main {
    position: relative;
    padding-top: 132px;
}
@media only screen and (min-width: 1170px) {
    main {
        padding-top: 154px;
    }
}